<!DOCTYPE HTML>
<html>
  <head>

  {% load staticfiles %}
    <title>CatFacts!</title>
    
    <script src="{% static 'catfacts/js/skel.min.js' %}">
    {
      prefix: "/static/catfacts/css/style",
      resetCSS: true,
      boxModel: "border",
      grid: { gutters: 30 },
      breakpoints: {
        wide: { range: "1000-", containers: 1140, grid: { gutters: 50 } },
        narrow: { range: "481-999", containers: 960 },
        mobile: { range: "-480", containers: "fluid", lockViewport: true, grid: { collapse: true } }
      }
    }
    </script>
  </head>
  <body>
    <div class="container small">
      <!-- Header -->
        <div id="header">
          
        </div>

      <!-- Hero -->
        <section id="hero">
          <h2>Cat Facts</h2>
          <h1>Facts about cats<dot>.</dot></h1>
        </section>
      _<!-- /Hero -->

    </div>
  </body>
</html>